<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Social Media</title>
</head>
<body>
<h1>Project Social Media</h1>
<a href="{{ url_for('LoginSignup.login') }}">Login</a><br>
<a href="{{ url_for('LoginSignup.signup') }}">Sign Up</a><br>
<h2>Welcome to our social media platform!</h2>
<p>This is a social media platform for creating and collaberating on projects!</p>
</body>
</html>